# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads
src/uploads/*
!src/uploads/.gitkeep 